---
import fetchApi from "../../lib/strapi.ts";
import type Funtions from "../../interfaces/funtions.ts";
import Section from "../atoms/Section.astro";
import Button from "../atoms/Button.astro";
import CardFuntions from "../molecules/CardFuntions.astro";

const FuntionsData = await fetchApi<Funtions[]>({
  endpoint: "functions?populate=*",
  wrappedByKey: "data",
});
---

<Section
  id="functions"
  class="min-h-screen flex-col bg-gradient-to-b from-gray-50/50 via-white to-blue-50/30 py-20 gap-y-6"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xml:space="preserve"
    class="w-10"
    style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
    viewBox="0 0 561.8 456.46"
    ><path
      d="M0 78.33V420c0 17.09 19.41 36.46 36.46 36.46 18.88 0 19.9-1.41 35.5-13.12 7.77-5.83 65.54-50.51 71.47-52.77 9.83-3.75 294.73-1.67 330.59-1.63 17 .02 22.43-.85 34.94-5.57 17.94-6.79 35.28-23.03 43.87-39.86 4.26-8.34 8.97-20.97 8.97-32.89V78.34c0-21.08-11.27-40.3-24.65-53.68S504.55.01 483.47.01H78.33C49.36.01 20.49 22 8.07 47.24 4.36 54.78 0 67.08 0 78.33m31.44 348.13V92.9c0-20.01.25-34.9 9.54-45.74C49.81 36.86 59.94 30 78.21 30h405.38c28.13 0 46.77 19.24 46.77 48.28v231.15c0 61.28-65.03 48.28-106.3 48.28H194.44c-78.51 0-64.2-6.99-118.85 35.32l-32.2 25.29c-3.65 2.83-7.81 7.01-11.95 8.15zm253.4-149.36c-8.66 0-16.79-.74-24.36-2.24s-15.02-3.77-22.36-6.84c-7.34-3.04-14.7-6.81-22.06-11.28-4.48-2.71-7.72-4.98-9.69-6.84-2-1.83-3.24-3.56-3.71-5.21-.5-1.65-.74-3.77-.74-6.36 0-2.8.77-4.21 2.33-4.21.53 0 3.65 1.33 9.37 3.98 5.71 2.65 11.72 5.13 18 7.45 6.28 2.33 14.08 4.48 23.48 6.48 9.37 1.97 19.3 2.98 29.75 2.98 10.37 0 20.18-.97 29.43-2.95 9.28-1.94 17.29-4.18 24.1-6.69 6.78-2.5 12.87-5.01 18.24-7.51 5.39-2.51 8.31-3.74 8.78-3.74 1.56 0 2.33 1.41 2.33 4.21 0 2.65-.27 4.8-.82 6.45-.53 1.62-1.83 3.36-3.83 5.13-2.03 1.8-5.24 4.07-9.66 6.84-7.6 4.54-14.94 8.28-21.98 11.25-7.04 2.95-14.38 5.21-21.98 6.77-7.57 1.56-15.79 2.33-24.6 2.33zm106.98-99.16c1.63 0 3.18-.44 4.53-1.27.22-.14.52-.3.71-.45.46-.36.83-.67 1.24-1.08.66-.66 1.55-1.88 1.91-2.73.78-1.89.89-2.45.89-4.67 0-1.93-.8-4.25-2.06-5.51-1.04-1.03-1.96-1.69-3.29-2.35l-1.32-.62c-.9-.43-1.75-.74-2.68-1.11l-6.95-2.56c-.46-.15-.95-.37-1.41-.52l-22.25-8.2 23.66-8.41c.48-.18.93-.34 1.43-.51 2.7-.89 8.34-2.87 10.82-4.33l1.13-.73c.67-.5.49-.4.98-.96.62-.72 1.04-1.39 1.38-2.41.34-1.01.53-2.16.57-3.33v-.76c-.04-1.37-.32-2.72-.87-3.82-.14-.28-.24-.49-.39-.77s-.29-.45-.45-.71c-.51-.81-.38-.52-.77-1.01-.12-.15-.13-.18-.28-.34-2.51-2.61-5.66-3.56-9.27-2.65-2.96.74-7.43 2.61-10.27 3.8-2.58 1.09-5.43 2.13-8.05 3.24l-26.01 10.54c-.68.28-1.36.55-2 .86-.31.15-.62.27-.97.42-.34.14-.63.29-.96.43-1.99.88-2.76 1.34-4.35 2.68-.94.79-1.95 2.02-2.53 3.11-.56 1.07-.86 1.83-1.08 3.17-.66 3.86.19 7.81 3 10.61 1.4 1.4 3.27 2.46 5.09 3.33.67.32 1.32.54 2.01.85 1.84.83 6.11 2.47 8.04 3.24 2.72 1.08 5.35 2.15 8.05 3.24l26.07 10.49c1.91.77 4.58 1.79 6.71 1.79zm-182.1-30.3c-.16.22-2.42.87-2.73.97-.98.33-1.88.6-2.86.93l-19.91 6.44c-.97.27-1.89.66-2.86.93-2.05.56-4.9 1.67-6.9 2.53-1.48.63-2.81 1.6-3.75 2.9-.35.49-.73 1.35-.94 1.92-.32.88-.5 1.89-.55 2.94v1.11c.06 1.41.38 2.81.95 3.95.28.55.52.99.84 1.48.29.45 1.26 1.54 1.67 1.88 4.34 3.5 7.76 2.37 12.58.73l6.11-2.24c1.37-.54 2.69-.96 4.06-1.5 1.37-.53 2.69-.99 4.06-1.5.65-.24 1.36-.5 2.02-.76.67-.27 1.34-.48 2.03-.75l10.15-3.76c1.84-.62 4.17-1.58 6.09-2.26 2.94-1.05 7.16-2.64 10.02-3.89l3.64-1.92c.26-.2.55-.38.78-.61l2.01-2.16.8-1.28c1.81-3.63 1.66-8.94-.94-12.39-.74-.98-.49-.67-1.34-1.52-.17-.17-.19-.18-.37-.32l-2.92-2.02-7.75-3.53c-1.34-.57-2.58-1.15-3.93-1.71l-33.48-14.6c-3.34-1.56-7.18-2.71-10.74-.8-2.17 1.17-3.75 3.09-4.63 5.42-.94 2.49-.66 5.83.73 8.17.61 1.02 1.52 1.83 2.53 2.5 2.04 1.35 4.36 2.3 6.78 3.27 4.81 1.92 9.57 3.82 14.36 5.74l14.38 5.72z"
      style="fill:#373435"></path></svg
  >
  <h2
    class="w-3/5 text-center text-3xl sm:text-4xl lg:text-5xl font-bold text-foreground"
  >
    {FuntionsData[0].title[0].children[0].text}
    <span class="text-primary">{FuntionsData[0].title[1].children[0].text}</span
    >
  </h2>

  <p class="w-4/5 text-center text-lg text-muted-foreground mb-6">
    {FuntionsData[0].subParagraph}
  </p>
  <div
    class="w-11/12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
  >
    {FuntionsData[0].CardFunction.map((item) => <CardFuntions item={item} />)}
  </div>

  <div class="flex flex-col items-center mt-4">
    <Button
      isPrimary={FuntionsData[0].Button.isPrimary}
      class="bg-primary hover:bg-primary/90 my-4"
      >{FuntionsData[0].Button.textButton}</Button
    >
    <p class="text-center">{FuntionsData[0].textCopy}</p>
  </div>
</Section>
